@model List<Tangerine>

@{
    ViewData["Title"] = "Tangerines";
}

<div class="container">
    <div class="row">
        @foreach (var tangerine in Model)
        {
            <div class="col-md-3 tangerine-card">
                <div class="card">
                    <img src="@tangerine.Url" class="card-img-top tangerine-image" alt="Tangerine image">
                    <div class="card-body">
                        <h5 class="card-title">Мандаринка #@tangerine.Id</h5>
                        <p class="card-text">
                            <strong>Статус:</strong> @tangerine.Status <br />
                            <strong>Цена:</strong> @tangerine.CostBuyout руб. <br />
                            <strong>Создана:</strong> @tangerine.CreatedOn.ToShortDateString()
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
